@import "./assets/styles/_variables";
@import "./assets/styles/_buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;

}

body {

  background-color: $secondcolor;

  nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;


    ul {
      li {
        list-style-type: none;
        color: #FFFFFF;
        font-size: 24px;
      }
    }
button{
  width: 120px;
  height: 50px;
  border-radius: 10px;
}

  }

  #mainsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1 {
      color: $fourthcolor;
    }

    p {
      color: $thirdcolor;
    }


#addingtaskbox{
  width: 90vw;
  height: 60px;
  background-color: $firstcolor;
  border: 1px $thirdcolor dashed;
  color: $fourthcolor;
  

    :-ms-input-placeholder {
      color: $thirdcolor;
     
    }

  }
  }
  h4{
    color: $fourthcolor;
  }
  #displayingtasks{
color: white;
  }
}